@media (max-width: 600px) {
  body {
    position: relative;
    overflow-x: hidden;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
  .nav-items {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: rgb(199, 199, 108);
    padding: 30px;
    flex-direction: column;
    border-radius: 30px;
    transition: 0.5s;
    transform: translateX(-120%);
    /*transform: scale(0);
    transform-origin: right top;*/
  }
}
.show {
  transform: translate(0);
  /*display: block;
  transform: scale(1);*/
}
.banner-content {
  width: 45%;
  background: #ecc17800;
  padding-left: 40px;
}
.section {
  padding: 50;
}
.about-section {
  flex-direction: column-reverse;
  gap: 20px;
}
.about-image {
  margin-top: 2%;
}
